#body-container {
    width: 80%;
    margin-top: 80px
}

#first-section-container {
    display: flex;
    flex-direction: row;
}

#container-paragraph {
    max-width: 50%;
    display: grid;
}

#menubites-principal-logo {
    /* Estilos para el logo principal de MenuBites */
}

#slogan{
    font-weight: 500;
    margin-top: 10px;
    display: block;
}

#slogan-description{
    margin-top: 10px;
}


#gift-container{
    width: 50%;
    display: grid;
    place-items: center;
}

#cocking-gift {
    max-width: 415px;
    height: auto;
}

.body-button{
    display: grid;
    place-content: start;
    margin-top: 65px;
}

#button-join-now {
    width: 185px;
    height: 35px;
    border-radius: 10px;
    float: right;
    transition: box-shadow 0.3s ease-in-out;
}

#arrow-container{
    display: grid;
    place-items: center;
}

#arrow-gift{
    max-width: 80px;
    height: auto;
    margin-top: 30px;
}

#button-join-now:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #e01111, #e76101);
}

#second-section-container{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.info-card-container{
    display: grid;
    place-items: center;
    width: 290px;
    height: auto;
    background: var(--color-gradient);
    border-radius: 12px;
}

.card-background{
    display: grid;
    place-items: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    padding: 15px 20px;
    border-radius: 10px;
    background: white;
}

.card-image{
    max-width: 100px;
}

.card-title, .card-description{
    text-align: center;
}

.card-title{
    font-weight: 500;
    font-size: 18px;
}

.card-description{
    color: #6C6C6C;
    font-size: 18px;
}


@media screen and (max-width: 1023px) {
    #first-section-container {
        flex-direction: column;
    }

    #second-section-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }


    #gift-container {
        width: 100%;
    }

    #container-paragraph {
        max-width: 100%;
        place-items: center;
    }

    #cocking-gift {
        max-width: 100%;
        height: auto;
    }

    #slogan {
        font-size: 28px;
        text-align: center;
    }

    #slogan-description {
        font-size: 22px;
        text-align: center;
        margin-top: 25px;
    }

    .body-button {
        place-content: center;
    }

    #menubites-principal-logo {
        font-size: 36px;
    }

    .info-card-container {
        width: 80%;
        height: auto;
    }

    .card-title{
        font-size: 26px;
    }

    .card-description{
        font-size: 20px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1023px){
    #cocking-gift {
        max-width: 50%;
        height: auto;
    }
}

